/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 12:07 (GMT+0900)
 */
$--color-primary: #ff724c;
$--color-secondary: #fdbf50;
$--color-white: #f4f4f8;
//$--color-white: #fff;
$--color-black: #2a2c41;

$--color-warning: red;
$--color-error: red;

$--color-border: mix($--color-black, #fff, 20%);
$--color-border-light: mix($--color-black, #fff, 10%);
$--color-gray-dark: mix($--color-black, #fff, 75%);
$--color-gray: mix($--color-black, #fff, 50%);
$--color-gray-light: mix($--color-black, #fff, 25%);
$--color-bg: mix($--color-black, #fff, 10%);
$--color-bg-mask: rgba(0, 0, 0, .75);
//$--color-bg: #e9eaef;
