/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 13:33 (GMT+0900)
 */
.error {
  color: $--color-error !important;
}
.warning {
  color: $--color-warning !important;
}

.primary {
  color: $--color-primary !important;
}

.secondary {
  color: $--color-secondary !important;
}

.gray {
  color: $--color-gray !important;
}

.gray-dark {
  color: $--color-gray-dark !important;
}

.gray-light {
  color: $--color-gray-light !important;
}

