/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 13:33 (GMT+0900)
 */
.color-error {
  color: $--color-error !important;
}
.bg-error {
  background: $--color-error !important;
}

.color-warning {
  color: $--color-warning !important;
}
.bg-warning {
  background: $--color-warning !important;
}

.color-primary {
  color: $--color-primary !important;
}
.bg-primary {
  background: $--color-primary !important;
}

.color-secondary {
  color: $--color-secondary !important;
}
.bg-secondary {
  background: $--color-secondary !important;
}

.color-gray {
  color: $--color-gray !important;
}
.bg-gray {
  background: $--color-gray !important;
}

.color-gray-dark {
  color: $--color-gray-dark !important;
}
.bg-gray-dark {
  background: $--color-gray-dark !important;
}

.color-gray-light {
  color: $--color-gray-light !important;
}
.bg-gray-light {
  background: $--color-gray-light !important;
}

.bg {
  background: $--color-bg !important;
}

.color-white {
  color: $--color-white !important;
}
.bg-white {
  background: $--color-white !important;
}
