/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 13:33 (GMT+0900)
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $--color-bg;
  color: $--color-black;
  font-size: 16px;
}

h1 {font-size: 24px !important;}
h2 {font-size: 20px !important;}
h3 {font-size: 18px !important;}
h4 {font-size: 16px !important;}
h5 {font-size: 14px !important;}
h6 {font-size: 12px !important;}

ul, ol, li {
  list-style: none;
}

button, input, textarea, select {
  border: 0;
  outline: none;
}

img, button {
  user-select: none;
}

img {
  -webkit-touch-callout: none;
}

a {
  text-decoration: none;
  color: $--color-black;
}
