/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 22:52 (GMT+0900)
 */
.check-box {
  border-radius: $--border-radius-small;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  background: none;
  margin: 10px 10px 0 0;
  font-size: 12px;
  color: $--color-gray-dark;
  background: $--color-gray-lighter;
  min-width: 50px;
  .price {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 3px;
    color: $--color-primary !important;
  }
  &.is-checked {
    background: $--color-primary;
    border-color: $--color-primary;
    color: $--color-white;
    .price {
      color: $--color-white !important;
    }
  }
}
