/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-19 18:41 (GMT+0900)
 */
.confirm-page {
  .order-list {
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 10px;
    right: 10px;
    bottom: 80px;
    padding: 10px 10px 60px;
    border-radius: $--border-radius;
    overflow-y: auto;
    background: $--color-white;
  }
  .order-list__footer {
    position: fixed;
    z-index: 1;
    left: 10px;
    right: 10px;
    bottom: 80px;
    height: 50px;
    background: $--color-white;
    border-radius: 0 0 $--border-radius $--border-radius;
    > div {
      margin: 0 $--space-default;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;
      border-top: 1px solid $--color-border-light;
    }
  }
  footer {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 10px;
    right: 10px;
    .submit-text {
      font-size: 0.8em;
      margin-left: 10px;
      padding-left: 10px;
      position: relative;
      &:before {
        content: '';
        width: 1px;
        background: $--color-white;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
    }
  }
}
