/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-07-04 15:16 (GMT+0900)
 */
.common-loading-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
