/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2022/03/08 20:57:25 (GMT+0900)
 */
.footer {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: rgba(39, 39, 37, .14);
  color: #050000;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(39, 39, 37, .1);
  }
}

.footer dl {
  float: left;
  margin-top: 10px;
  width: 50%;
  overflow: hidden;

  &:first-child {
    text-align: right;
  }

  dd {
    margin: 0 10px;
    font-size: 12px;
    span {
      line-height: 20px;
    }
  }
}