.more-wrapper {
  padding-top: $--size-header-height;
  text-align: center;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid $--color-link;
    color: $--color-link;
    border-radius: 30px;
    padding: 0 40px;
    opacity: 0.8;
    white-space: nowrap;
    height: 60px;
    max-width: 80%;
    font-weight: 700;
    &:hover {
      color: $--color-link-hover;
      border-color: $--color-link-hover;
      text-decoration: none;
      opacity: 1;
    }
    svg {
      margin-left: 10px;
    }
  }
}
