/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-20 19:08 (GMT+0900)
 */
.app-label {
  //display: flex;
  //align-items: flex-start;
  //justify-content: space-between;
  font-size: 14px;
  dt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  dd {
    text-align: justify;
  }
}
