/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-20 15:31 (GMT+0900)
 */
.common-header {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 15px $--space-default 100px 50px;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    .icon {
      font-size: 1.5em;
    }
  }
  h4 {
    line-height: 20px;
  }
  .top-right-wrapper {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $--color-white;
    a {
      color: $--color-white;
    }
  }
}
