/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-13 10:47 (GMT+0900)
 */
.category-list {
  background: $--color-white;
  display: flex;
  overflow: hidden;
  $paddingBottom: 100px;
  .side {
    $width: 80px;
    width: $width;
    flex: 0 0 $width;
    overflow-y: auto;
    //padding-bottom: $paddingBottom !important;
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 $--space-default;
      font-size: 12px;
      height: 50px;
      cursor: pointer;
      line-height: 1.2;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 60%;
        left: 20%;
        height: 1px;
        background: $--color-white;
        transform: translateY(-50%);
      }
      &:after {
        content: '';
        position: absolute;
        width: 4px;
        border-radius: 2px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 0;
        background: $--color-primary;
        transition: height 0.3s ease-in-out;
      }
      &.active {
        background: $--color-white;
        color: $--color-primary;
        font-weight: bolder;
        &:before {
          display: none;
        }
        &:after {
          height: 100%;
        }
      }
    }
    // safari li滚动后设置paddingBottom无效问题修复
    .blank {
      height: $paddingBottom;
    }
  }
  .content {
    flex: 1;
    padding: 0 $--space-default $paddingBottom;
    overflow-y: auto;
  }
}
