/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 23:10 (GMT+0900)
 */
.app-button {
  position: relative;
  background: $--color-primary;
  color: $--color-white;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  &.is-small {
    height: 35px;
    font-size: 16px;
  }
}
