/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 14:44 (GMT+0900)
 */
.home-top-swiper {
  padding-top: 10px;
  .swiper-container {
    padding-bottom: 15px;
  }
  .swiper-slide {
    //padding: 0 $--space-default;
    .item {
      background: $--color-white;
    }
  }
  .swiper-pagination {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    .swiper-pagination-bullet {
      $size: 6px;
      display: inline-block;
      width: $size;
      height: $size;
      margin: 0 2px;
      border-radius: 50%;
      background: $--color-gray-light;
      &.swiper-pagination-bullet-active {
        background: $--color-primary;
      }
    }
  }
}

