.common-count-button-group {
  button {
    $size: 20px;
    border: 2px solid $--color-primary;
    width: $size;
    height: $size;
    border-radius: 50%;
    position: relative;
    background: none;
    //overflow: hidden;
    &:before, &:after {
      position: absolute;
      z-index: 1;
      display: block;
      width: 10px;
      height: 2px;
      border-radius: 2px;
      background: $--color-primary;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.minus {
      border-color: $--color-gray;
      &:before {
        content: "";
        background: $--color-gray;
      }
    }
    &.plus {
      &:before, &:after {
        content: "";
      }
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
        z-index: 2;
      }
    }
  }
  .count {
    font-size: 16px;
    min-width: 40px;
    text-align: center;
  }
  .minus, .count {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transform-origin: 10px 10px;
  }
  &.has-count {
    .minus {
      pointer-events: auto;
      animation: fadeInRight 0.3s ease-in-out forwards;
    }
    .count {
      animation: fadeInRight 0.3s ease-in-out forwards;
    }
  }
}
