/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-20 15:26 (GMT+0900)
 */
.order-page {
  .order-page__top {
    //position: relative;
    margin: -90px 10px 10px;
    padding: $--space-default 0 0;
    border-radius: $--border-radius;
    background: $--color-white;
    height: 130px;
    .order-status {
      margin: 10px auto 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 12px;
      width: 70%;
      .space {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 10%;
        &:before {
          position: relative;
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: $--color-gray-light;
        }
      }
    }
  }
  .order-list {
    position: fixed;
    padding: $--space-default $--space-default 60px;
    border-radius: $--border-radius;
    background: $--color-white;
    top: 200px;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow-y: auto;
  }
  .order-list__footer {
    position: fixed;
    z-index: 1;
    left: 10px;
    right: 10px;
    bottom: 20px;
    height: 50px;
    background: $--color-white;
    border-radius: 0 0 $--border-radius $--border-radius;
    > div {
      margin: 0 $--space-default;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;
      border-top: 1px solid $--color-border-light;
    }
  }
}
