/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 14:44 (GMT+0900)
 */
.home-trending-swiper {
  margin-top: 10px;
  .swiper-container {
    padding: 0 10px 10px;
  }
  .swiper-slide {
    width: 160px;
  }
  .home-trending-item {
    position: relative;
    background: $--color-white;
    border-radius: $--border-radius;
    padding: 8px;
    h4 {
      font-size: 16px;
    }
  }
}

