/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2021-06-12 22:52 (GMT+0900)
 */
.detail-popup {
  .common-popup__inner {
    .header {
      position: absolute;
      z-index: 10;
      min-height: 70px;
      padding-bottom: 10px;
      background: $--color-white;
      border-radius: $--border-radius $--border-radius 0 0;
      .cover {
        $size: 100px;
        position: absolute;
        left: 10px;
        top: -40px;
        width: $size;
        height: $size;
        border-radius: $--border-radius;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        background: $--color-white;
      }
      dt, dd {
        margin: 0 10px 0 120px;
        line-height: 1.1;
        @include clamp(2);
      }
      dt {
        //font-size: 20px;
        font-weight: bolder;
      }
      dd {
        color: $--color-gray;
        font-size: 14px;
      }
    }
    .body {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 70px;
      bottom: 60px;
      overflow-y: auto;
      font-size: 14px;
      .detail-content {
        padding: 10px 0;
        img {
          margin-top: 10px;
          max-width: 100%;
          height: auto;
          border-radius: $--border-radius-small;
        }
      }
    }
    .footer {
      $height: 60px;
      display: flex;
      align-items: center;
      position: absolute;
      padding: 0 10px;
      left: 0;
      bottom: 0;
      border-radius: 0 0 $--border-radius $--border-radius;
      height: $height;
      width: 100%;
      border-top: 1px solid $--color-border-light;
      .total-price {
        font-size: 24px;
        white-space: nowrap;
        min-width: 60px;
      }
      .plus-items {
        margin: 0 10px;
        font-size: 10px;
        line-height: 1.2;
        flex: 1;
        @include clamp(3);
      }
      .btn-count {
        flex: 0 0 80px;
      }
    }
    .close {
      $size: 30px;
      position: absolute;
      z-index: 1;
      top: -30px;
      right: -5px;
      width: $size;
      height: $size;
      background: none;
      transform: rotate(45deg);
      border-radius: 50%;
      overflow: hidden;
      &:before, &:after {
        content: '';
        display: block;
        width: $size;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: $--color-white;
        border-radius: 2px;
      }
      &:after {
        transform: rotate(90deg);
      }
    }
  }
}
